header {
  padding: 20px;
  background-color: #e0e0e0;
  h2 {
    font-size: 4vw;
    color: #3b4655;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 2vw;
    color: #6b7e98;
    margin-bottom: 5px;
  }
  .message {
    font-size: 1.4vw;
  }
}

