.sidebar {

  padding: 20px;
  height: 100%;
  color: #777;

  .heading {
    font-size: 4vw;
    color: #3b4655;
  }

  .sub-heading {
    font-size: 2vw;
    color: #6b7e98;
  }

  .message {
    font-size: 1.4vw;
  }
}