.sidebar {

  padding: 20px;
  height: 100%;
  color: #73869E;

  .heading {
    font-size: 4vw;
  }

  .sub-heading {
    font-size: 2vw;
  }

  .message {
    font-size: 2vw;
    margin-bottom: 25%;
  }
}